<h1>Ejemplo de formulario model drive/reactive forms</h1>
<form [formGroup]="formFra" (ngSubmit)="crearFra()">
  <div>
    <label for="cliente">Cliente</label>
    <input type="text" id="cliente" formControlName="cliente">
  </div>
  <div>
      <label for="cif">cif</label>
      <span class="novalido" *ngIf="formFra.get('cif').hasError('checkCIF') && formFra.get('cif').value.length != 0">
        El CIF debe comenzar por letra
      </span>

      <span class="novalido" *ngIf="formFra.get('cif').hasError('checkCIF') && formFra.get('cif').value.length!=0">
          El Campo es obligatorios
        </span>
      <!-- <span class="novalido" *ngIf="cif.invalid && cif.touched">
        El campo es obligatorio
      </span> -->
      
      <input type="text" id="cif" formControlName="cif" ><!-- #cifModel="" -->
    </div>
  <div>
    <label for="fecha">Fecha Factura</label>
    <input type="date" id="fecha" formControlName="fecha">
  </div>
  <div>
    <label for="base">Base imponible</label>
    <input type="number" id="base" formControlName="base">
  </div>
  <div formGroupName ='datosIVA'>
    <div>
        <label for="tipo">% de IVA</label>
        <select id="tipo" formControlName="tipo">
          <option value=0>0 %</option>
          <option value=0.04>4 %</option>
          <option value=0.10>10 %</option>
          <option value=0.21>21 %</option>
        </select>
      </div>
      <div>
        <label for="iva">Importe IVA</label>
        <input type="number" id="iva" formControlName="iva">
    </div>
  </div>
  <div>
      <label for=total>Total factura IVA incluido</label>
      <input type="number" id="total" formControlName="total" >
  </div>
  <div>
      <button type="submit" >Añadir factura</button>
  </div>
</form>
<hr>
<pre>{{formFra.value|json}}</pre>