<h1>Ejemplo de formulario template driven</h1>
<form #formCliente="ngForm" (ngSubmit)='crearCliente(formCliente)' ngNativeValidate>
  <div>
    <label for="nombre"> Nombre</label>
    <span class="novalido" *ngIf="nombre.invalid && nombre.touched">Campo obligatorio</span>
    <input type="text" id ="nombre" name ="nombre" ngModel required #nombre="ngModel">
  </div>
  <div>
    <label for="cif"> CIF</label>
    <input type="text" id ="cif" name ="cif" ngModel>
  </div>
  <div>
    <label for="email"> Correo Electronico</label>
    <input type="email" id ="email" name ="email" ngModel>
  </div>
  <div>
    <button type="submit" [disabled]="formCliente.invalid">Añadir cliente</button>
  </div>
</form>
<hr>
<pre>{{cliente|json}}</pre>