@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.marcador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    padding: 20px 40px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;

}

.contenedor table{
    width: 50%;
    min-width: 300px;
    padding: 20px;
}

tr:nth-child(even){
    background-color: #FDB927;
    color:#552583;
    font-size: 20px;

}

tr:nth-child(odd){
    background-color: #552583;
    color:#ffffff;
    font-size: 20px;

}
td{
    height: 80px;
}

img{
    height: 60px;
}

button{
    font-size: 16px;
    color: #552583;
    background-color: white;
    padding: 8px;
    border-radius:4px;
    border: solid 2px  #552583;
    margin: 5px;

}

td:nth-child(1){
    padding-left: 10px;
}
td:nth-child(){
    width: 1px;
    white-space: nowrap;
    padding: 10px;
}
